flows (1).json
[
    {
        "id": "d922ceedadfebd5a",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8b7c00f6334d9f8",
        "type": "ui_led",
        "z": "d922ceedadfebd5a",
        "order": 1,
        "group": "368c7b49caca8de6",
        "width": 0,
        "height": 0,
        "label": "VERDE",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "0eb59abf83ea5db0",
        "type": "ui_led",
        "z": "d922ceedadfebd5a",
        "order": 2,
        "group": "368c7b49caca8de6",
        "width": 0,
        "height": 0,
        "label": "AMBAR ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#df7926",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "d2739e0202f860f8",
        "type": "ui_led",
        "z": "d922ceedadfebd5a",
        "order": 3,
        "group": "368c7b49caca8de6",
        "width": 0,
        "height": 0,
        "label": "ROJO ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "f9550f2fa8b4d716",
        "type": "s7 in",
        "z": "d922ceedadfebd5a",
        "endpoint": "e4e775ab33dd99f9",
        "mode": "single",
        "variable": "verde",
        "diff": true,
        "name": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "a8b7c00f6334d9f8"
            ]
        ]
    },
    {
        "id": "10a4dfad5835efa3",
        "type": "s7 in",
        "z": "d922ceedadfebd5a",
        "endpoint": "e4e775ab33dd99f9",
        "mode": "single",
        "variable": "ambar",
        "diff": true,
        "name": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "0eb59abf83ea5db0"
            ]
        ]
    },
    {
        "id": "6c2fc76e1ba3c872",
        "type": "s7 in",
        "z": "d922ceedadfebd5a",
        "endpoint": "e4e775ab33dd99f9",
        "mode": "single",
        "variable": "rojo ",
        "diff": true,
        "name": "",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "d2739e0202f860f8"
            ]
        ]
    },
    {
        "id": "d287866c0d42040b",
        "type": "s7 in",
        "z": "d922ceedadfebd5a",
        "endpoint": "e4e775ab33dd99f9",
        "mode": "single",
        "variable": "contador",
        "diff": true,
        "name": "",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "63b1cc5f920d7791",
                "a2cee90f13f92ef6"
            ]
        ]
    },
    {
        "id": "63b1cc5f920d7791",
        "type": "ui_numeric",
        "z": "d922ceedadfebd5a",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "368c7b49caca8de6",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 660,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a2cee90f13f92ef6",
        "type": "function",
        "z": "d922ceedadfebd5a",
        "name": "function 1",
        "func": "let capacidad=msg.payload; \n\nlet tzoffset=(new Date()).getTimezoneOffset()*60000; \nlet fecha =(new Date(Date.now()-tzoffset)).toISOString().slice(0, -1);\n\nmsg.topic=\"INSERT INTO garajeBueno VALUES('\"+fecha+\"','\"+capacidad+\"')\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 460,
        "wires": [
            [
                "83731fec4fc9372f"
            ]
        ]
    },
    {
        "id": "c250c86d23c653f4",
        "type": "s7 in",
        "z": "d922ceedadfebd5a",
        "endpoint": "e4e775ab33dd99f9",
        "mode": "single",
        "variable": "",
        "diff": true,
        "name": "",
        "x": 240,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "83731fec4fc9372f",
        "type": "mysql",
        "z": "d922ceedadfebd5a",
        "mydb": "1a3d75ed360976c2",
        "name": "",
        "x": 850,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "368c7b49caca8de6",
        "type": "ui_group",
        "name": "Default",
        "tab": "e391cc24226fb341",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4e775ab33dd99f9",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.3",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "M100.2",
                "name": "verde"
            },
            {
                "addr": "M100.3",
                "name": "ambar"
            },
            {
                "addr": "M100.4",
                "name": "rojo "
            },
            {
                "addr": "MW200",
                "name": "contador"
            }
        ]
    },
    {
        "id": "1a3d75ed360976c2",
        "type": "MySQLdatabase",
        "name": "garaje",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "garaje",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "e391cc24226fb341",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]